body, button, p, div{
    font-family: 'Lato', sans-serif;
}
:focus{
    outline: none;
}
body{
    margin: 0;
    padding: 44px 0;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}
.container .header{ 
display: flex;
margin: 0 140px;
justify-content: space-between;

}
.header a img{
    height: 40px;
    width: 108px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    display: flex;
}
a.nav-link:last-child{
margin-right: 0;
}
a.nav-link:first-child{
    margin-left: 0;
}
a.nav-link {
    text-decoration: none;
    font-size: 14px;
    margin: 0 12px;
    font-weight: bold;
    color: black;
    min-width: 20px;
    opacity: 0.5;
}
.navbar .active {
    opacity: 1;
}
.nav-link:hover{
    opacity: 1;
    border-bottom: 1px solid #000;
}

.header button{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    height: 44px;
    min-width: 158px;
    border: none;
    border-radius: 26px;
    padding: 12px 28px;
    background: #EE4064;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.header button:focus, .header button:active{
    outline: none;
}
.header button:hover{
    opacity: 0.6;
}
#body .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    min-height: 700px;
    background: url('../images/group1.png');
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
}

#body .container .content{
    position: absolute;
    display: block;
    justify-content: center;
    width: 35%;
    top: 20%;
    left: 10%;
}
#body .container .content p{
    width: 100%;
    font-size: 18px;
}

#body .container .content h1{
    font-size: 64px;
    font-weight: bold;
    
}
.group-button{
    margin-top: 84px;
    display: flex;
}

.play {
    border: none;
    background: #EE4064;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 26px;
    height: 44px;
    padding: 12px 28px; 
    margin-right: 16px;
    transition: 0.2s ease;
    cursor: pointer;
    min-width: 158px;
}
.play:focus, .play:active{
    outline: none;
}
.watch {
    border: 1px solid #000000;
    background: none;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border-radius: 26px;
    height: 44px;
    min-width: 158px;
    padding: 12px 28px;
    transition: 0.2s ease;
    cursor: pointer;
}
.watch:focus, .play:active{
    outline: none;
}

.play:hover {
    color: black;
    background: #ffffff;
    border: 1px solid #000000;
}

.watch:hover {
    color: #ffffff;
    background: #EE4064;
    border: none;
}

/* Style dark page */
#challenge-dark {
    padding: 44px 0 0 0 ;
}
#challenge-dark, #challenge-dark button, #challenge-dark a{
    color: #ffffff;
}

#challenge-dark .nav-link:hover{
  border-bottom: 1px solid #ffffff;
  opacity: 0.8;
}
#challenge-dark .nav-link:focus{
    height: fit-content;
}
#challenge-dark .header button{
    
    background: #308AD3;
}

#challenge-dark {
    background-color: #2C104A;
}


#challenge-dark #body .container {
    
    background: url('../images/group2.png'), url('../images/group56.png');
    background-repeat: no-repeat no-repeat;
    background-color: #2C104A;
  
}

#challenge-dark #body .container .content {
    width: 45%;
}


#challenge-dark .play{
    background: #308AD3;
}

#challenge-dark .play:hover{
    background: transparent;
    color: white;
    border: 1px solid white;
}


#challenge-dark .watch{
    background: transparent;
    border: 1px solid #ffffff!important;
}
#challenge-dark .watch:hover{
    transition: 0.2s ease;
    background: #308AD3;
    color: #ffffff ;
    outline: none!important;
    border: none!important;
}

.nav_item:hover::after{
    display: block;
}