body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    background-color: #ead6d6;
    height: 100vh;
    color: #FFFFFF;
}
.sign-in{
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F76C6C;
    padding: 60px;
}
.title{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: 'Oxygen', sans-serif;
}

.slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    letter-spacing: 1px;
}
.form{
      margin-top: 50px;
}
.form-group{
    height: 80px;
}
.form-title{
    font-size: 10px;
    margin: 0 auto;

}
.form-input{
    outline: none;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 22px;
}
.form-group img{
    width: 13px;
    object-fit: cover;
    margin-right: 5px;
}
.input-group{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    padding: 10px 0 6px 0;
   
}
.form-input::placeholder{
    color: #FFFFFF;
    font-size: 12px;
}
.check-group{
    display: flex;
    justify-content: space-between;
}
.remember-me{
    display: flex;
}
.remember-me img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.check-group a{
    text-decoration: none;
    color: #FFFFFF;
}
.form button{
    height: 60px;
    background-color: #FFFFFF;
    width: 100%;
    color: #F76C6C;
    margin-top: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
a {
    color: #FFFFFF;
}
.link-signup{
    margin-top: 30px;
    text-align: center;
}

/* End style Sign In */

/* Start Style style up */
#sign-up{
    height: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    color: black;
}

.header{
    background-color: #F76C6C;
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 40px;
    color: #FFFFFF;
}
.body{
    padding: 0 60px;
}
#sign-up .form{
    margin-top: 10px;
}
#sign-up .form-group{
    height: 65px;
}
#sign-up .form-title{
    font-size: 10px;
    margin: 0 auto;
}
#sign-up .form-input-signup{
    outline: none;
    border: none;
    background: none;
    color: #000000;
    font-size: 22px;
}
#sign-up .input-group{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #B8B8B8;
    padding: 10px 0 6px 0;
   
}
.form-input-signup::placeholder{
    color: #000000;
    font-size: 12px;
}
#sign-up .form button{
    height: 35px;
    background-color: #F76C6C;
    width: 100%;
    color: #FFFFFF;
    margin-top: 30px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
a:hover{
    opacity: 0.2;
}
#sign-up a{
    color: #000000;
}

