body{
    margin: 0;
}
.container{
    width: 1520px;
    height: 804px;
    background-color: #2F3436;
    position: relative;
}
.canvas {
    width: 1168px;
    height: 698px;
    background-color: #171B1D;
    position: absolute;
    margin: 54px 176px;
    display: flex;
}
.left-side{
    width: 468px;
    height: 698px;
    background-image: url('../images/Clip.png');
}
.logo{
 
    width: 76px;
    height: 36px;
    margin: 62px 0 0 62px;
}
.title {
    width: 196px;
    height: 32px;
    margin-top: 26px;
    margin-left: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #9EA9AE;
}
.signin{
    color: #707070;
    margin-left: 32px;
}
.link{
    width: 146px;
    height: 16px;
    position: absolute;
    top: 624px;
    left: 100px;
    color: #4F5557;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.close{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #202426;
}
.close img{
    height: 16px;
    width: 16px;
    position: absolute;
    left: 35%;
    top: 35%;
}
.form{
    width: 568px;
    height: 464px;
    margin-top: 116px;
    margin-left: 70px; 
}
.form-group{
    width: 568px;
    height: 64px;
    margin-top: 28px;
    display: grid;
    background-color: none;
    border-bottom: 1px solid #707070;
}
.text-title{
    width: auto;
    height: 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #909090;
}
.input-box::placeholder{ 
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background: none;
    border: none;
    color: #2A3033;
   
}
.input-box {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background: none;
    border: none;
    color: #FEBF34;
}
.btn-signup{
    font-family: 'Raleway', sans-serif;
    padding: 16px 68px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid  #FEBF34;
    background: none;
    border-radius: 25px;
    color:  #FEBF34;
    position: absolute;
    bottom: 0;
    right: 0;
}
