body, button, a, label, div{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 152px 0;
    background: #EEEEEE;
}
.container{
   margin: 0 auto;
   padding: 40px 60px;
   max-width: 620px;
   background: #FFFFFF;
}

.lb-signup{
    font-size: 54px;
  
}

.form-signup{
    margin-top: 64px;
}

form .group{
    margin-bottom: 42px;
    
}
form .group input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #707070;
    background: transparent;
    font-size: 45px;

}
form .group label{
    font-size: 20px;
    font-weight: bold;
    color: #B0B0B0;
    text-transform: uppercase;
    display: block;
    padding: 8px 0;
}
form .group input:focus,form .group input:active,form .group input:valid{
    outline: none;
}

form .btn-signup{
    text-align: center;
    margin-bottom: 44px;
}

form button {
    background: #000000;
    padding: 16px 96px;
    color: #FFFFFF; 
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
    min-width: 306px;
    margin-top: 55px;
    height: 75px;
    font-size: 27px;
    
}
form button:hover{
    opacity: 0.8;
}

.check {
    display: flex;
    align-items: center;
}
.check img{
    background: #4DEBB9;
    padding: 10px;
    border-radius: 50%;
}

.check .img-check {
    width: 45px;
    height: 45px;
}

.txt-check{
    font-size: 25px;
    font-weight: 300;
    color: #000000  ;
    margin-left: 10px;
    letter-spacing: 2px;
}

.link-signin{
    text-align: center;
    font-size: 25px;
    color: #ABABAB;
}
.link-signin a {
    color: #000000;
    font-size: 27px;
    cursor: pointer;
    text-decoration: none;
}
.link-signin a:hover{
    opacity: 0.8;
}
