* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
body, a, button {
    font-family: 'Roboto', sans-serif;
}
button:active, button:focus{
    outline: none;
}
body{
    margin: 0;
    max-width: 1440px;
    min-height: 476px;
}
.container{
    margin: 0 140px;
}

.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
    border-bottom: 1px solid grey;
    align-items: center;
    padding: 12px 0;
}
.logo{
    width: 150px;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.search{
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 334px;
    background: #F5F5F5;
    border: 1px solid #e4e4e4;
    border-radius: 18px;
    color:#707070;
    align-items: center;
    height: 36px;
}
.search i{
    margin-right: 16px;
}
.search input{
    background: transparent;
    border:none;
    outline: none;
}
/* .contact {
    font-size: 14px;
} */
.list-contact{
    margin: 0 6px;
    font-size: 25px;
}
.list-contact .fa{
    margin-right: 6px!important;
    cursor: pointer;
}
/* style Menu */
.menu-bar{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    padding: 16px 0;
    height: 36px;
}

.dropdown {
position: relative;
display: inline-block;

}
.dropdown .dropbtn{
    text-transform: uppercase;
    font-weight: bold;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #006C33;
color: #ffffff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.dropdown:hover .dropbtn {color: #006C33;}
.menu-bar a {
text-decoration: none;
color: #000000;
}

.menu-bar button{
    border: none;
    background: none;
    cursor: pointer;
}
.menu-bar a:hover{
    border-bottom: 3px solid #006C33;
    color: #006C33;
    transition: cubic-bezier(1, 0, 0, 1);
}



header .container .header .fa.fa-bars {
    border: 1px solid #e5dada;
    border-radius: 50%;
    padding: 9px;
    color: #006C33;
    cursor: pointer;
}

/* Style Banner */
.banner .mask-cover {
    z-index: 0;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
section.banner{
    background: url('../images/WhatsApp-Image-2017-07-10-at-1.34.45-PM2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    object-fit: cover;
    display: flex;
    align-items: center;
}
.banner .container{
    position: absolute;
    color: #ffffff;
}
.banner .container div {
    font-size: 19px;
    font-weight: bold;
    opacity: 0.8;
}
.banner .container h1 {
    font-size: 42px;
    font-weight: bold;
    height: 55px;
    overflow: hidden;
    width: 67%;
    
}
.banner .container button{
    background: transparent;
    border: 1px solid white;
    height: 44px;
    width: 146px;
    padding: 0; 
    border-radius: 4px;
    color: white;
    margin-top: 42px;
    cursor: pointer;
}
.banner .container button i {
    margin-left: 16px;
}
.banner .container button:hover{
    background: #006C33;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}


/* Style list-item */
.list-item{
    display: flex;
    width: 100%;
    padding: 34px 0;
}
.col-list{
   
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 28px;
}
.list-item .col-list .item-img{
    width: 60px;
    height: 60px;
    background: #EEEEEE;
    border-radius: 100%;
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    margin-right: 16px;
}
.list-item .col-list button{
    background: none;
    border: none;
    color: #006C33;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
}
.list-item .col-list button:hover .dropdown-content{
    display: block;
    color: #006C33;
}
.list-item .col-list h6{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px!important;
}
.list-item .col-list p{
    overflow: hidden;
    height: 16px;
}
.list-item .col-list button i{
    padding-left: 8px;
}
.list-item .col-list button:hover{
    transform: scale(1.1);
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
/* Style dark light mode */
#dark header .container .header .fa.fa-bars {
    color: #B77C18;
}
#dark .menu{
    background: black;
}
#dark .menu .container .menu-bar a{
    color: white;
}
#dark .menu .container .menu-bar a:hover{
    color: #B77C18;
}
#dark .menu .dropdown .dropbtn{
    color: white;
}
#dark .menu .dropdown .dropbtn:hover{
    color: #B77C18;
}
#dark .menu-bar a:hover{
    border-bottom: 3px solid #B77C18;
    color: #B77C18;
    transition: cubic-bezier(1, 0, 0, 1);
}
#dark .dropdown:hover .dropbtn {color: #B77C18;}
#dark .menu-bar a {
text-decoration: none;
color: white;
}
#dark .list{
background: black;
color: white;
}

#dark .list-item .col-list button {
    color: #B77C18;
}
#dark .banner .container button:hover {
    background: #B77C18;
}
#dark .dropdown-content {
    background: #B77C18;
    color: #ffffff;
}