body, button, p, li{
    font-family: 'Manjari', sans-serif;
} 
body{
    margin: 0;
    overflow-x: hidden;
}
section#list-card{
    margin-bottom: 140px;
}
:focus{
    outline: none;
}
nav{
    padding: 44px 0;
}
.line{
    text-align: center;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#check{
    display: none;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
header .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .row ul {
    display: flex;
    justify-content: center;
    justify-items: center;
}
header .row ul li{
    list-style-type: none;
}
header .row ul li:hover{
    opacity: 0.6;
}
header .row ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding-right: 46px; 
    font-size: 14px;
}
a.logo{
    display: flex;
}
.logo img{
    width: 96px;
    height: 34px;
}

header input{
    border-top: none;
    border-right: none;
    border-left: none;
}

#list-card{
    text-align: center;
}
#list-card .row{
    display: flex;
    margin-top: 100px;
}
#list-card .row .card{
    margin-right: 20px;
}
#list-card .row .card-img{
    width: 292px;
    height: 412px;  
}
#list-card .row .card-img:first-child{
    padding-left: 0;
}
#list-card .row img{
    width: 100%;
    height: 100%;
}
h2{
    font-size: 36px;
    font-family: 'Playfair Display', serif; 
    font-weight: lighter;
}
.card{
    position: relative;
    height: 412px;
    width: 292px;
    transition: transform .2s;
    opacity: 0.8;
}
    .card:hover{
        transform: scale(1.1);
        opacity: 1;
    }
.card-content{
    position: absolute;
    bottom: 56px;
    left: 10px;
    color: #ffffff;

}
.card-content button{
    background: #E1CD52;
    min-width: 270px;
    height: 52px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.card-content button:active, .card-content button:focus{
    outline: none;
}
.card-content button:hover{
    opacity: 0.8;
    color: white;
}
.mask-dark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;
    background: linear-gradient(45deg, black, transparent);
}
#unforget p{
    font-size: 14px;
    width: 80%;
    color: white;
    text-align: left;
    letter-spacing: 1px;
}
#unforget{
    background: #B9220A;
}
#unforget .row{
    display: flex;
}
#unforget .unforget-img {
    width: 620px;
    height: 412px;
    transition: transform .2s;
}
.unforget-img img:hover{
    transform: rotateY(180deg);
}
#unforget h3{
    font-size: 32px;
    color: white;
    font-family: 'Playfair Display', serif; 
}

#unforget .list-btn .let-do-this{
    border: 2px solid #E1CD52;
    background: transparent;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    color: #F9D90B;
    min-width: 216px;
    height: 50px;
    padding: 16px 54px;
    text-transform: uppercase;
    transition: 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
}
#unforget .list-btn .let-do-this:active, #unforget .list-btn .let-do-this:focus{
    outline: none;
}

#unforget .list-btn .let-do-this:hover{
    background: #E1CD52;
    color: white;
}
#unforget .list-btn{
    display: flex;
    justify-content: space-between;
}
.next-back-btn{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.next-back-btn button{
    background: #E1CD52;
    border: none;
    border-radius: 4px;
    height: 52px;
    width: 48px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;  
    cursor: pointer;
    transition: 0.3s ease;
}
.next-back-btn button:active, .next-back-btn button:focus{
    outline: none;
}
.next-back-btn button:hover{
    background: #F9D90B;
    opacity: 0.2;
}
#unforget .container{
    display: grid;
    grid-template-rows:  30% 40% 30%;
}

.next-back i {
    font-size: 32px;
    margin: 25px;
}
.next-back i:hover {
    opacity: 0.6;
}

@media (max-width: 575.98px) { 

}


@media (min-width: 768px) and (max-width: 991.98px) { 
    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
      }
    header .row ul li a{
        font-size: 12px;
    }
    .checkbtn{
        display: block;
    }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        /* line-height: 30px; */
      }
      nav ul li a {
        font-size: 20px;
      }
      a:hover, a.active{
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul{
        left: 0;
      }
      
}



