body, input, label, a, button{
    font-family: 'Lato', sans-serif;
}
body{
    margin: 0;
    background: #2F3436;
    padding: 54px 0;
}

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    max-width: 1170px;
    min-height: 600px;
    background: #171B1D;
}

.left-side{
    background: url('../images/bg.jpg') no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
    position: relative;
}

.left-side .logo{
    height: 36px;
    margin-bottom: 24px;
}
.left-side > *{
    z-index: 1;
}
.left-side .header a{
    font-size: 24px;
    margin-right: 36px;
}
.left-side a{
    color: #9EA9AE;
    opacity: 0.3;
    transition: 0.2s ease;
    margin-right: 8px;
    text-decoration: none;
}
.left-side a.active,.left-side a:hover{
    opacity: 1;
}


.mark-cover{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

.right-side{
    position: relative;
    padding: 112px 60px;
}
.right-side .close{
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #202426;
    cursor: pointer;
}

.close img {
    height: 16px;
    width: 16px;
}

form .group{
    margin-bottom: 28px;
    position: relative;
}

form .group label{
    color: #909090;
    text-transform: uppercase;
    display: block;
}

form .group input{
    width: calc(100% - 32px);
    border:none;
    border-bottom: 1px solid #262A2D;
    background: transparent;
    font-size: 24px;
    padding: 8px 32px 12px 0;
    font-weight: 600;
    font-family: lato;
    color: #FEBF34;
}

form .group input:focus,form .group input:active,form .group input:valid{
    outline: none;
}
form .group img{
    visibility: hidden;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 32px;
    right: 0;
}
form .group input:valid + img{
    visibility: visible;
}
form .group input::placeholder{
    color: #2A3033;
}
form .action{
    text-align: right;
    margin-top: 60px;
    /* //Và đây cũng là lý do tách ra 1 block */
}
form button{
    border: 2px solid #FEBF34;
    background: transparent;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    color: #FEBF34;
    min-width: 212px; 
    height: 50px;
    padding: 12px 68px;
    text-transform: uppercase;
    transition: 0.3s ease;
    cursor: pointer;
    /* float: right; E thử tìm hiểu điểm yếu của float sẽ rõ, a dùng 1 block để chứa 1 element và canh trái sẽ tốt hơn*/
    /* ở đây a có thể dùng button tự canh phải sát lề nhưng a k làm vậy để hạn chế dùng float */
}
form button:hover{
    color: #2A3033;
    background: #FEBF34;
}
form button:focus,form button:active{
    outline:none
}